function deleteRecord (ids, route, redirect) {
  if (ids.length === 0) return
  bootbox.confirm({
    message: "{{ 'You\'re about to delete one or more records. Are you sure?'|t }}",
    callback: function (result) {
      if (!result) return
      const form = $('<form>', {
        action: route ?? '{{ routePath(baseRoute|d(attr.baseRoute), { params: _meta.params }) }}/delete',
        method: 'POST',
        target: '_top'
      }).append($('<input>', {
        name: 'ids',
        value: ids.join(','),
        type: 'hidden'
      }))
      if (redirect) form.append($('<input>', {
        name: 'redirect',
        value: redirect,
        type: 'hidden'
      }))
      form.appendTo('body').submit()
    }
  })
}
