<div
  class="accordion{% if attr.flush %} accordion-flush{% endif %}{{ attr.class }}"
  style="{{ attr.style }}"
  {{ attributes|safe }}
  {{ params|join(' ') }}>
  {% if attr.options %}
    {% for item in attr.options %}
      {% cmp 'accordion-item',
        id=item.id|d(attr.id + '-' + loop.index),
        parentId=attr.id,
        caption=item.caption,
        stayOpen=item.stayOpen,
        open=item.open,
        content=item.content %}{% endcmp %}
    {% endfor %}
  {% else %}
    {{ content|safe }}
  {% endif %}
</div>