<nav
    aria-label="breadcrumb"
    class="{{ attr.class}}"
    style="{% if attr.divider %}--bs-breadcrumb-divider: {{ attr.divider|safe }};{% endif %}{{ attr.style }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    <ol class="breadcrumb mb-0">
        {% for item in attr.options %}
        {% if item.active %}
        <li class="breadcrumb-item active" aria-current="page">{% if item.icon %}{% cmp 'icon', name=item.icon %}{% endcmp %}{% endif %}{{ item.caption }}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ item.href|d('#') }}">{% if item.icon %}{% cmp 'icon', name=item.icon %}{% endcmp %}{% endif %}{{ item.caption }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>