<div
    class="btn-toolbar{{ attr.class}}"
    style="{{ attr.style }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}
    role="toolbar"
    aria-label="{{ attr.ariaLabel }}">
    {{ content|safe }}
</div>