<input
    type="color"
    class="{{ attr.classBase|d('form-control form-control-color') }}{% if attr.error %} is-invalid{% elif attr.success %} is-valid{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}>