{% cmp 'buttonToolbar', margin='bottom2', justifyContent='between' %}
  {% cmp 'form', display='flex', role='search' %}
    {% cmp 'input', name='query', margin='end2', type='search', placeholder='Search'|t, ariaLabel='Search', value=_meta.query.query %}{% endcmp %}
  {% endcmp %}
  {% if attr.view === 'stat' %}
    {% cmp 'crudStatButtons', route=attr.baseRoute, baseField=attr.baseField, schema=attr.schema, id=attr.baseId, stats=attr.stats, stat=attr.stat, agg=attr.agg, chart=attr.chart %}{% endcmp %}
  {% else %}
    {% cmp 'crudButtons', route=attr.baseRoute, schema=attr.schema, id=attr.baseId, view=attr.view %}{% endcmp %}
  {% endif %}
  {% cmp 'viewTypeButtons', route=attr.baseRoute, view=attr.view, views=attr.views, stat=attr.stat, agg=attr.agg, chart=attr.chart %}{% endcmp %}
{% endcmp %}

{% script %}
<script>
  {% include 'cmp:_crud-script-navbar-buttons:bootstrap5' %}
  {% include 'cmp:_crud-script-delete-prompt:bootstrap5' %}

  $('#{{ attr.baseId }} tbody tr').on('click', function () {
    const el = $(this).find('input[type=checkbox]')
    if (!el) return
    el.prop('checked', !el.prop('checked'))
    updateUi()
  })
  $('#{{ attr.baseId }} tbody tr').on('dblclick', function () {
    const rowId = $(this).find('input[type=checkbox]').val()
    location.href='{{ routePath(attr.baseRoute + '/detail', { params: _meta.params }) }}' + '?id=' + rowId
  })
  toggler.on('change', function () {
    $('#{{ attr.baseId }} input[type=checkbox]').prop('checked', $(this).is(':checked'))
    updateUi()
  })
  $('#{{ attr.baseId }} tbody tr input[type=checkbox]').on('click', function (evt) {
    evt.stopPropagation()
  })
  $('#{{ attr.baseId }} input[type=checkbox]:not(".check-toggler")').on('change', function () {
    updateUi()
  })
  if (btnDelete) {
    btnDelete.on('click', function () {
      const ids = []
      $('#{{ attr.baseId }} input[type=checkbox]:checked:not(".check-toggler")').each(function () {
        ids.push($(this).val())
      })
      deleteRecord(ids)
    })
  }
</script>
{% endscript %}