{% set id = attr.id + '-buttons' %}
{% cmp 'div', display='flex', alignItems='center' %}
  {% if attr.view !== 'table' %}
    {% cmp 'button', variant='primary', outline=true, margin='bottom2,end1' %}
      {% cmp 'check', class='check-toggler' %}{% endcmp %}
    {% endcmp %}
  {% endif %}
  {% cmp 'buttonGroup', margin='bottom2' %}
    {% cmp 'button', id=id + '-add', tag='a', icon='crudAdd', variant='primary', href=routePath(attr.route + '/add', { params: _meta.params }) %}{% endcmp %}
    {% if attr.view === 'table' %}
      {% cmp 'button', id=id + '-detail', tag='a', icon='crudDetail', variant='primary', dataHref=routePath(attr.route + '/detail', { params: _meta.params }), disabled=true %}{% endcmp %}
      {% if not attr.schema.disabled|array('includes', 'update') %}
        {% cmp 'button', id=id + '-edit', tag='a', icon='crudEdit', variant='primary', dataHref=routePath(attr.route + '/edit', { params: _meta.params }), disabled=true %}{% endcmp %}
      {% endif %}
    {% endif %}
    {% if not attr.schema.disabled|array('includes', 'remove') %}
      {% cmp 'button', id=id + '-delete', tag='a', icon='crudDelete', variant='primary', disabled=true %}{% endcmp %}
    {% endif %}
  {% endcmp %}
{% endcmp %}
