{% cmp 'card', shadow=true %}
  {% cmp 'cardHeader' %}
    {% cmp 'div', display='flex', justifyContent='between' %}
      {% cmp 'label', display='flex', width=100 %}
        {% cmp 'check', value=attr.record.id %}{% endcmp %}
      {% endcmp %}
      {% cmp 'buttonGroup', sizing='small' %}
        {% cmp 'button', tag='a', icon='crudDetail', href=routePath(attr.route + '/detail', { params: _meta.params }) + '?id=' + attr.record.id %}{% endcmp %}
        {% if not attr.schema.disabled|array('includes', 'update') %}
          {% cmp 'button', tag='a', icon='crudEdit', href=routePath(attr.route + '/edit', { params: _meta.params }) + '?id=' + attr.record.id %}{% endcmp %}
        {% endif %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
  {% cmp 'cardBody' %}
    {% for p in attr.schema.properties %}
      {% cmp 'div', display='flex', justifyContent='between' %}
        {% set label = p.label|ternary('field.' + p.label, 'field.' + p.name)|t %}
        {% cmp 'cardText' %}<strong>{{ label }}</strong>{% endcmp %}
        {% cmp 'cardText', text='truncate', padding='start2' %}
          {% if p.type === 'boolean' %}
            {% cmp 'icon', name=attr.record[p.name]|ternary('boxCheck', 'boxUncheck') %}{% endcmp %}
          {% else %}
            {{ attr.record[p.name]|format(p.type) }}
          {% endif %}
        {% endcmp %}
      {% endcmp %}
    {% endfor %}
  {% endcmp %}
{% endcmp %}
