{% set select %}
  {% cmp 'select',
    class=attr.class,
    style=attr.style,
    id=attr.id,
    name=attr.name,
    type=attr.type,
    ariaDescribedby=attr.helpId|d(attr.id + '-help') + attr.error|ternary(' ' + attr.id + '-invalid', ''),
    disabled=attr.disabled,
    readonly=attr.readonly,
    required=attr.required,
    placeholder=attr.placeholder|d(attr.label),
    sizing=attr.sizing,
    value=attr.value,
    error=attr.error,
    success=attr.success,
    ariaLabel=attr.ariaLabel,
    multiple=attr.multiple,
    options=attr.options %}{% endcmp %}
{% endset %}
{% cmp 'div',
    class=(attr.labelFloating and not attr.multiple)|ternary('form-floating ', '') + attr.wrapperClass|d('mb-3'),
    style=attr.wrapperStyle,
    id=attr.wrapperId %}
  {% if attr.labelFloating and not attr.multiple %}
    {{ select }}
    {% include 'cmp:_form-label:bootstrap5' %}
  {% else %}
    {% include 'cmp:_form-label:bootstrap5' %}
    {{ select }}
  {% endif %}
  {% include 'cmp:_form-feedback:bootstrap5' %}
  {% include 'cmp:_form-help:bootstrap5' %}
{% endcmp %}