{% set range %}
  {% cmp 'range',
    class=attr.class,
    style=attr.style,
    id=attr.id,
    name=attr.name,
    ariaDescribedby=attr.helpId|d(attr.id + '-help'),
    disabled=attr.disabled,
    readonly=attr.readonly,
    sizing=attr.sizing,
    error=attr.error,
    success=attr.success,
    min=attr.min,
    max=attr.max,
    step=attr.step,
    value=attr.value %}{% endcmp %}
{% endset %}
{% cmp 'div',
    class=attr.wrapperClass|d('mb-3'),
    style=attr.wrapperStyle,
    id=attr.wrapperId %}
   {% include 'cmp:_form-label:bootstrap5' %}
  {{ range }}
  {% include 'cmp:_form-help:bootstrap5' %}
{% endcmp %}