{% set input %}
  {% cmp 'input',
    class=attr.class,
    style=attr.style,
    id=attr.id,
    name=attr.name,
    type='text',
    ariaDescribedby=attr.helpId|d(attr.id + '-help') + attr.error|ternary(' ' + attr.id + '-invalid', ''),
    disabled=true,
    readonly=true,
    placeholder=attr.placeholder,
    sizing=attr.sizing,
    value=attr.value + '' %}{% endcmp %}
{% endset %}
{% cmp 'div',
    class=(attr.labelFloating and not ['file']|array('includes', attr.type))|ternary('form-floating ', '') + attr.wrapperClass|d('mb-3'),
    style=attr.wrapperStyle,
    id=attr.wrapperId %}
  {% if (attr.labelFloating and not ['file']|array('includes', attr.type)) %}
    {{ input }}
    {% include 'cmp:_form-label:bootstrap5' %}
  {% else %}
    {% include 'cmp:_form-label:bootstrap5' %}
    {{ input }}
  {% endif %}
  {% include 'cmp:_form-help:bootstrap5' %}
{% endcmp %}