{% cmp 'div', margin='top3' %}
  {% cmp 'row' %}
    {% cmp 'col', columns='small:12,medium:9' %}
      {% cmp 'div', id='histogram', style='width:100%;height:500px;' %}{% endcmp %}
    {% endcmp %}
    {% cmp 'col', columns='small:12,medium:3' %}
      {% cmp 'crudTable', records=attr.records, schema=attr.schema, id=attr.baseId, route=attr.baseRoute, plain=true %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}

{% script %}
const chart = echarts.init(document.getElementById('histogram'))
const chartData = {{ attr.records|json('stringify') }}
const type = '{% if attr.chart === 'area' %}line{% else %}{{ attr.chart}}{% endif %}'
const series = [{
  type,
  {% if attr.chart === 'area' %}areaStyle: {},{% endif %}
  data: chartData.map(d => d.{{ schema.properties[1].name }})
}]

var option = {
  tooltip: {},
  xAxis: {
    type: 'category',
    data: chartData.map(d => d.{{ schema.properties[0].name }})
  },
  yAxis: {
    type: 'value'
  },
  series
}

chart.setOption(option)
{% endscript %}