<{% if attr.href %}a{% else %}li{% endif %}
    class="list-group-item{% if attr.href %} list-group-item-action{% endif %}{% if attr.active %} active{% endif %}{% if attr.disabled %} disabled{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    {% if attr.active %}aria-current="true"{% endif %}
    {% if attr.disabled %}aria-disabled="true"{% endif %}
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    {% if attr.icon %}{% cmp 'icon', name=attr.icon, margin='end2' %}{% endcmp %}{% endif %}
    {{ content|safe }}
    </{% if attr.href %}a{% else %}li{% endif %}>