<{{ attr.numbered|ternary('ol', 'ul') }}
    class="list-group{% if attr.flush %} list-group-flush{% endif %}{% if attr.numbered %} list-group-numbered{% endif %}{% if attr.horizontal %} list-group-horizontal{% if attr.horizontal|is('string') %}-{{ attr.horizontal }}{% endif %}{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    {% if attr.options|is('array') %}
    {% for opt in attr.options %}
    {% if opt|is('string') %}
    {% cmp 'listGroupItem' %}{{ opt }}{% endcmp %}
    {% else %}
    {% cmp 'listGroupItem', active=opt.active, href=opt.href, icon=opt.icon %}{{ opt.caption }}{% endcmp %}
    {% endif %}
    {% endfor %}
    {% else %}
    {{ content|safe }}
    {% endif %}
    </{{ attr.numbered|ternary('ol', 'ul') }}>