{% if attr.useNav %}
<a
    class="{{ attr.classBase|d('nav-link') }}{% if attr.active %} active{% endif %}{% if attr.disabled %} disabled{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    href="{{ attr.href|d('#') }}"
    {% if attr.active %}aria-current="page"{% endif %}
    {% if attr.disabled %}aria-disabled="true"{% endif %}
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    {% if attr.icon %}{% cmp 'icon', name=attr.icon %}{% endcmp %}{% endif %}
    {{ attr.caption|d(content|safe) }}
    </a>
{% else %}
<li
    {% if attr.noLink %}
    class="{{ attr.classBase|d('nav-item nav-link') }}{% if attr.active %} active{% endif %}{% if attr.disabled %} disabled{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    href="{{ attr.href|d('#') }}"
    {% if attr.active %}aria-current="page"{% endif %}
    {% if attr.disabled %}aria-disabled="true"{% endif %}
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    {% if attr.icon %}{% cmp 'icon', name=attr.icon %}{% endcmp %}{% endif %}
    {{ attr.caption|d(content|safe) }}
    {% else %}
    class="{{ attr.classBase|d('nav-item') }}">
    <a
        class="nav-link{% if attr.active %} active{% endif %}{% if attr.disabled %} disabled{% endif %}{{ attr.class }}"
        style="{{ attr.style }}"
        href="{{ attr.href|d('#') }}"
        {% if attr.active %}aria-current="page"{% endif %}
        {% if attr.disabled %}aria-disabled="true"{% endif %}
        {{ attributes|safe }}
        {{ params|join(' ') }}>
        {% if attr.icon %}{% cmp 'icon', name=attr.icon %}{% endcmp %}{% endif %}
        {% if not attr.onParent %}
        {{ attr.caption|d(content|safe) }}
        {% else %}
        {{ attr.caption }}
        {% endif %}
        </a>
    {% endif %}
    {% if attr.onParent %}
    {{ content|safe }}
    {% endif %}
    </li>
{% endif %}