{% cmp 'navItem',
    classBase='nav-item dropdown',
    class='dropdown-toggle',
    dataBsToggle='dropdown',
    role='button',
    icon=attr.icon,
    style=attr.style,
    caption=attr.caption,
    onParent=attr.onParent,
    ariaExpanded='false' %}
    {% if attr.options %}
    {% cmp 'dropdownMenu', class=attr.menuClass, style=attr.menuStyle, options=attr.options %}{% endcmp %}
    {% else %}
    {{ content|safe }}
    {% endif %}
    {% endcmp %}
