<button
    class="navbar-toggler{{ attr.class }}"
    style="{{ attr.style }}"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#{{ attr.collapseId }}"
    aria-controls="{{ attr.collapseId }}"
    aria-expanded="false"
    aria-label="{{ attr.ariaLabel|d('Toggle navigation') }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}>
      <span class="navbar-toggler-icon"></span>
    </button>