<div
  class="offcanvas-header{{ attr.class }}"
  style="{{ attr.style }}"
  {{ attributes|safe }}
  {{ params|join(' ') }}>
  {% if attr.title %}
    <h5 class="offcanvas-title" id="{{ attr.titleId|d('offcanvasLabel') }}">{{ attr.title }}</h5>
  {% endif %}
  {% if not attr.noDismiss %}
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  {% endif %}
</div>
