<select
    class="{{ attr.classBase|d('form-select') }}{% if attr.sizing %} form-control-{{ attr.sizing }}{% endif %}{% if attr.error %} is-invalid{% elif attr.success %} is-valid{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe }}
    {{ params|join(' ') }}>
    {% if attr.options|is('plainObject') %}
        {% for val, key in attr.options %}
        <option value="{{ val }}"{% if attr.value === val %} selected{% endif %}>{{ key }}</option>
        {% endfor %}
    {% else %}
        {% for opt in attr.options %}
            {% if opt|is('string') %}
            <option value="{{ opt }}"{% if attr.value === opt %} selected{% endif %}></option>
            {% else %}
            <option value="{{ opt.value }}"{% if attr.value === opt.value %} selected{% endif %}>{{ opt.text|d(opt.value) }}</option>
            {% endif %}
        {% endfor %}
    {% endif %}
    </select>