<div
  class="tab-pane{% if attr.fade %} fade{% endif %}{% if attr.show %} show{% endif %}{% if attr.active %} active{% endif %}{{ attr.class }}"
  style="{{ attr.style }}"
  role="tabpanel"
  tab-index="0"
  aria-labelledby="{{ attr.id }}-tab"
  {{ attributes|safe }}
  {{ params|join(' ') }}>
  {{ content|safe }}
  </div>