{% set views = attr.views|d(['table', 'gridSmall', 'grid']) %}
{% set statUrl = '/stat/%s/%s/%s'|sprintf(attr.stat|d('daily'), attr.agg|d('count'), attr.chart|d('bar')) %}
{% cmp 'div', display='flex', alignItems='center' %}
  {% cmp 'buttonGroup', outline=true, radio=true, margin='bottom2' %}
    {% for view in views %}
      {% cmp 'radio', classBase='btn-check', checked=view === attr.view %}{% endcmp %}
      {% cmp 'label', classBase='btn', class='btn-outline-primary' %}
        {% set params = _meta.query|pick(['query', 'sort'])|set('view', view) %}
        {% set url = routePath(attr.route + (view === 'stat')|ternary(statUrl, '/list'), { params: _meta.params }) %}
        {% cmp 'a', href=url + '?' + params|qsStringify, text=(attr.view === view)|ternary('white', undefined), stretchedLink=true %}
          {% cmp 'icon', name=view %}{% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endfor %}
  {% endcmp %}
{% endcmp %}
